# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/

# Data files
data/*.csv
data/*.xlsx

# Jupyter notebooks
*.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.env
